# Task 1

In [65]:
# 2write a program to find the numbers divisible by 7 and not by 5 in a sequence.
output =[]
for i in range(2000,3201):
    if((i%7 ==0) and (i%5!=0)):
        output.append(i)
print(output)

# [i for i in range(2000,3201) if((i%7 ==0) and (i%5!=0))]

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [66]:
# 3write a program to take input of first name and last name and print in reverse order with a space between
first_name= input("Enter your first name: ")
last_name = input("Enter your last name: ")
print("Your last and first names are:", last_name," ",first_name)

Enter your first name: Sherlock
Enter your last name: Homes
Your last and first names are: Homes   Sherlock

In [67]:
#4. WAP to find the volume of a sphere with diameter 12 cm
diameter = 12
radius = diameter/2
volume = (4/3)*3.14*(radius**3)
print("The volume of sphere: {}".format(round(volume,3)) )

The volume of sphere: 904.32

# Task 2

In [75]:
# 1. WAP to take sequence of integers(comma-separated) and convert to list
sequence = input("Enter a comma separated sequence of numbers: ")
l =list(sequence)
[int(i)  for i in l if i!=',']
# m=[]
# for i in l:
#     if i ==',':
#         pass
#     else:
#         m.append(int(i))
# print(m)

Enter a comma separated sequence of numbers: 1,2,3,4,5

[1, 2, 3, 4, 5]

In [77]:
#2. WAP to print the diamond of stars

for i in range(1,6):
    print('*'*i)
else:
    for i in range(4,0,-1):
        print('*'*i)

*
**
***
****
*****
****
***
**
*

In [78]:
#3. WAP to reverse the input string
in_str = input('Enter a string: ')
out_str = in_str[::-1]
print('The reversed string of {} is {} '.format(in_str,out_str))

Enter a string: Tendulkar
The reversed string of Tendulkar is rakludneT

In [79]:
#4. WAP to print the string in the specified format
in_str = "WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a \
SOVEREIGN,\n \t \t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens"

print(in_str)

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,
 	 	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens